.app {
  min-width: 586px;
}

.body {
  max-width: 1410px;
  margin: 0px auto;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
  /* trick for correct show empty page on mobile version */
  min-height: 108vh;
}

@media screen and (max-width: 605px) {
  .body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
